@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x64oll');
  src:  url('fonts/icomoon.eot?x64oll#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x64oll') format('truetype'),
    url('fonts/icomoon.woff?x64oll') format('woff'),
    url('fonts/icomoon.svg?x64oll#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  width: 345px;
}

body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 325px;
  text-align: center;
  overflow-y: hidden;
}

header {
  background: rgb(101, 166, 55);
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 0.75em 0.5em;
  border-bottom: 1px solid #DDD;
  margin-bottom: 4px;
}

.main-container {
  display: flex;
}

p {
  margin: 0 10px 0 0;
  display: inline-block;
}

#searchText {
  width: 240px;
  height: 26px;
  margin-bottom: 0;
  padding: 1px 6px;
  color: #555;
  cursor: auto;
  font-size: 15px;
}

select {
  height: 32px;
  background-color: #fff;
}

#submit {
  font-size: 13px;
}

.search {
  border-radius: 0;
  line-height: 28px;
  height: 22px;
  white-space: nowrap;
  border-left: none;
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f3f3f3;
  background-image: linear-gradient(180deg,#f7f7f7,#eee);
  background-color: #eee;
  border: 1px solid #bfbfbf;
  border-top-color: #bfbfbf;
  border-bottom-color: #bfbfbf;
  box-shadow: inset 0 1px 0 #fcfcfc;
  text-shadow: none;
  border-radius: 4px;
  text-decoration: none;
}

.icon-search:before {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 20px;
  content: "\e986";
  color: black;
}
